### Gradle 관련 ###
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
# Gradle Wrapper JAR 파일은 제외하지 않음

### IntelliJ IDEA 관련 ###
.idea
*.iws
*.iml
*.ipr
out/

### Java 빌드 파일 ###
*.class

###운영 체제 및 환경별 파일 ###
Thumbs.db
# 파일 썸네일 캐시 정보(Windows)

### 테스트 리포트 ###
/test-results/